*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #0D0D0D;
  list-style: none;
  text-decoration: none;
}
.flex-header{
  
}
body{
  background-color: #F2F2F2;
}
header{
  display: grid;
  grid-template-rows:auto auto auto;
  text-transform: uppercase;
  height: 100vh;
  width: 100%;
}
#intro{
  grid-row-start: 2 ;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height:30%;
}
#intro h1{
  word-wrap: break-word;
  font-size: 1.8em;
}
#intro > a{
  border: 1.5px solid #0A4DA6;
  padding: 10px 15px;
  transition: .7s box-shadow;
}
#intro a:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#redes{
  grid-row-start: 3 ;
  width: 30%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

/* Navbar fixa*/
nav{
  background-color: #F2F2F2;
  position: fixed;
  top:10%;
  font-size: 1.2em;
  height: 150px;
  width: 100px;
  padding:5px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0px 5px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
nav ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
nav a:hover{
  text-decoration: underline;
}
/* Main */


