*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #0D0D0D;
  list-style: none;
  text-decoration: none;
  font: normal normal normal 1em/1.2em Arial, Helvetica, sans-serif;
}

body{
  background-color: #F2F2F2;
}
header{
  display: grid;
  grid-template-rows:auto auto auto;
  text-transform: uppercase;
  height: 100vh;
  width: 100%;
  justify-items: center;
}
#intro{
  grid-area: 2;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
#title{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
}
#title h1{
  font-weight: bolder;
  word-wrap: break-word;
  font-size: 2em;
}
#intro > a{
  border: 1.5px solid #0A4DA6;
  padding: 10px 15px;
  transition: .7s box-shadow;
}
#intro > a:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#network{
  display: flex;
  grid-area:3;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
/* Navbar fixa*/
#nav{
  position: fixed;
  top:5%;
  height: auto;
  width: auto;
}
#nav a{
  display: block;
  text-align: center;
  padding: 2px;
}
#nav a:hover{
  text-decoration: underline;
}
#a:active{
  background-color: transparent;
}
#btn-nav{
  border: none;
  width: 55px;
  height: 40px;
  transition: 0.4s all;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#nav.active #btn-nav{
  background-color: #85b2ec;
}
#btn-nav:hover{
  background-color: #85b2ec;
}
#nav.active #menu{
  display: flex;
}
#menu{
  display: none;
  margin-top: 0.5em;
  height: 150px;
  width: 100px;
  background-color: #F2F2F2;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid #0A4DA6;
  border-right: 1px solid #0A4DA6;
  border-bottom: 1px solid #0A4DA6;
  border-radius: 0px 5px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
@media all and (max-height: 670px) {
  #menu{
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 300px;
  }
}
/* Main */
main{
  padding: 1.5em;
  width: 100%;
  height: auto;
}
main h1{
  font: normal normal bold 1.8em Arial, Helvetica, sans-serif;
  color: #056CF2;
} 
section{
  display: flex;
  margin-top: 20vh;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article{
  height: auto;
  display: flex;
  flex: 1 1 150px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 2%;
  gap:2em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
/* Sobre */
#about-section article{
  max-height: 700px;
  min-width: auto;
  max-width: 600px;
}
#about-section img{
  max-height: 250px;
  max-width: 250px;
  padding:4px;
  border: 2px solid #85b2ec;
  border-radius: 50%;
}
#about-section p{
  font-size: 1.3em;
  line-height: 1.5em;
}
@media (max-width: 500px) {
  main h1{
    font: normal normal normal 1.6em Arial, Helvetica, sans-serif;
    color: #056CF2;
  } 
  article{
    gap: .5em;
  }
  #about-section img{
    max-height: 200px;
    max-width: 200px;
    border: 2px solid #85b2ec;
    border-radius: 50%;
  }
  #about-section p{
    font-size: 1.1em;
  }
}
/* Perfil e habilidades */
#perfil-section{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
#perfil-section article{
  max-height: 700px;
  min-width: 900px;
  max-width: 600px;
}
#perfil-section p{
  font-size: 1.3em;
  line-height: 1.5em;
}


